---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}
header {
  text-align:center;
}

#project_title { 
  font-size:50px;
//   color: #1179FF;
  color: #4F9BFE
}

.btn {
  display: none !important;
}
