---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}
header {
  allign: center;
}

.btn {
  display: none !important;
}
.rounded{
  border-radius: 7px;
  overflow: hidden;
}
.border{
}
